<ul class="list-group">
	<%
 lcl = @data.compact.first || {}
%>
	<li class="list-group-item">
		<div class="form-group">
			<label for="name">Title</label>
			<input name="data[]title" class="form-control" value="<%= lcl["title"]%>">
		</div>
		<div class="form-group">
			<label for="name">Message</label>
			<textarea name="data[]message" class="form-control ckeditor" name="editor1" rows="3"><%= lcl["message"]%></textarea>
		</div>
	</li>
</ul>
<script src="/ckeditor/ckeditor.js"></script>
