<div class="panel panel-default">
	<div class="panel-heading">
		Batch Request

	</div>
	<div class="panel-body">
		<table class="table table-striped">

			<thead>
				<tr>
					<th width="10px"></th>
					<th>Batch Type</th>
					<th>Actions</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td><span style="color: silver;font-size: 8px"></span>&nbsp;</td>
					<td>Calculate Account Dimentions</td>
					<td><button type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-play"></span> Run
					</button></td>
					<td><span class="glyphicon glyphicon-dashboard"></span></td>
				</tr>
				<tr>
					<td><span style="color: silver;font-size: 8px"></span>&nbsp;</td>
					<td>Vectorize All Users</td>
					<td><button type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-play"></span> Run
					</button></td>
					<td><span class="glyphicon glyphicon-dashboard"></span></td>
				</tr>
				<tr>
					<td><span style="color: silver;font-size: 8px"></span>&nbsp;</td>
					<td>Calculate Paragons</td>
					<td>
					<button type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-play"></span> Run
					</button></td>
					<td><span class="glyphicon glyphicon-dashboard"></span></td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
