<img src="/assets/logo_large.png" class="lll"/>

<dl class="dl-horizontal">
  <dt>Written by</dt>
  <dd>Gilad Manor</dd>
   <dt>twitter</dt>
  <dd><a href="https://twitter.com/giladmanor">@giladmanor</a></dd>
  <dt>GitHub</dt>
  <dd><a href="https://github.com/giladmanor">Lazy-eye developer</a></dd>
  <dt>Blog</dt>
  <dd><a href="http://giladmanor.com">Hands-on development</a></dd>
  <dt>Special Thanks to</dt>
  <dd><a href="https://twitter.com/Jishai">@Jishai</a></dd>
</dl>