<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<!-- <link href="/assets/css/font-awesome.css" rel="stylesheet" />
<link href="/assets/site.css" rel="stylesheet"> -->
<link href="/assets/site.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<style>
</style>
<title>quizic</title>
<body>
	<div class="page">
		<div class="sections">
			quizic

		</div>
	</div>

</body>
