<script type="text/javascript">
	function confirmAction(q, src) {
		$('#lsd_confirmationBox').modal('show');
		$('#lsd_confirmBoxQuestion').text(q);
		$('#lsd_confirm_id').attr('value', src);

	}

	function abortAction() {
		$('#lsd_confirmationBox').modal('hide');
	}

</script>

<div id="lsd_confirmationBox" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: absolute">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
			</div>
			<div class="modal-body">
				You are about to <span id="lsd_confirmBoxQuestion"></span>
			</div>
			<div class="modal-footer">
				<%=form_tag("/delete/#{@entity}",class:"form-inline", role:"form") do%>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="abortAction();return false;">
					Discard
				</button>
				
				<input type="hidden" name="id" id="lsd_confirm_id" />
				<button type="submit" class="btn btn-danger">
					Confirm changes
				</button>
				<% end %>
			</div>
		</div>
	</div>
</div> 