<div class="panel panel-default" style="opacity: 1">
	<div class="panel-heading">
		Transition from <%=@source[:name]%> to <%=@target[:name]%>
	</div>
	<div class="panel-body">
		<form class="form" role="form">
			<div class="form-group">
				Require that:
			</div>
			<div class="form-group">

				<input name="rule" type="text" class="form-control " id="requireInput" placeholder="start typing condition">

			</div>
			<div class="form-group">
				Demand that:
			</div>
			<div class="form-group">

				<input name="rule" type="text" class="form-control " id="demandInput" placeholder="start typing condition">

			</div>
		</form>
	</div>
</div>
