<div class="panel panel-default" style="opacity: 1">
	<div class="panel-heading">
		Edge from <span class="label label-primary"><%=@edge.source.name%></span> to <span class="label label-success"><%=@edge.target.name%> </span>
		<span class="glyphicon glyphicon-remove" style="float: right" onclick="closeForm()"></span>
	</div>

	<div class="panel-body" style="overflow: auto;height: 500px;">
		<div id="ruleForm" ></div>
		<div id="ruleList" class="list-group">
			
		</div>
	</div>
</div>
<script>
	var getRuleForm=function(id){
		$('#ruleList').text("");
		$.ajax({
			url : "/graph/get_rule/",
			data : {id:id,edge_id:<%=@edge[:id]%>}
			//dataType : "JSON" // you want a difference between normal and ajax-calls, and json is standard
		}).success(function(res) {
			$('#ruleForm').html(res);
		});
	
	}
	var getRuleList=function(){
		$('#ruleForm').text("");
		$.ajax({
			url : "/graph/list_rules/",
			data : {edge_id:<%=@edge[:id]%>}
			//dataType : "JSON" // you want a difference between normal and ajax-calls, and json is standard
		}).success(function(res) {
			$('#ruleList').html(res);
		});
	
	}
	getRuleList();
</script>

