

<div class="btn-group">
  <button type="button" class="btn btn-default">New Node</button>
  <button type="button" class="btn btn-default">New Edge</button>
  <button type="button" class="btn btn-default">New Entry point</button>
</div>
<div class="graph-goes-here"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	
	graph(nodes, links);

</script>