

<div class="btn-group">
  <button type="button" class="btn btn-default">New Node</button>
  <button type="button" class="btn btn-default">New Edge</button>
  <button type="button" class="btn btn-default">New Entry point</button>
</div>

<div class="graph-goes-here"></div>



<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	
	graph(nodes, links);

</script>


<div class="panel panel-default" style="float: left;margin-top: -500px;">
  <div class="panel-heading">Entity form</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
    	<input type="text" class="form-control" placeholder="Give it a name">
    	<input type="text" class="form-control" placeholder="condition 1">
    	<input type="text" class="form-control" placeholder="condition 2">
    </form>
  </div>
</div>