<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/d3.dependencyWheel.js"></script>
<div class="chart_placeholder"></div>

<script>
	$(document).ready(function() {
		LoaderAnimation.show("Generating Report");
		$.ajax({
			url : "/visual_aid/get_node_dependancy", //sumbits it to the given url of the form
			data : {},
			dataType : "JSON" // you want a difference between normal and ajax-calls, and json is standard
		}).success(function(json) {
			LoaderAnimation.hide();
			var chart = d3.chart.dependencyWheel();
			var data = {
				packageNames : json.nodes,
				matrix : json.dependencies

			};
			d3.select('.chart_placeholder').datum(data).call(chart);
		});
	});
	

</script>
