<script src="http://d3js.org/d3.v3.min.js"></script>
<div class="row">
	<div class="col-lg-5 main-chart">
		
		<div style="overflow: auto;height: 100%">
				<table class="table table-hover">

					<thead>
						<tr>
							<th width="10px"></th>
							<th>Persona</th>
							<th>Population</th>
							<th></th>

						</tr>
					</thead>

					<tbody id="cluster_list">

					</tbody>

				</table>
			</div>

	</div>

	

</div>



