<%
@clusters.each{|cluster|
%>

<tr onclick="showPersonaDetails(<%= cluster.id%>)">
	<td><span style="color: silver;font-size: 8px" ><%= cluster.id%></span>&nbsp;</td>
	<td></td>
	<td><%= cluster.users.size%></td>
	<td><i class="fa fa-info"></i></td>
</tr>
<%
}
%>