<div>

	<ul class="list-group">
		<li class="list-group-item">
			Population <%= @node.users.size%>
		</li>
		<li class="list-group-item">
			Users move from this node to:
		</li>
		<li class="list-group-item">
			Users move to this node from:
		</li>
		<li class="list-group-item">
			Mean events for this population:
		</li>
		<li class="list-group-item">
			Closest user to node mean value:
		</li>
	</ul>

</div>
