<div>

	<ul class="list-group">
		<li class="list-group-item">
			Proximity of users in this node to the other nodes
		</li>
		<li class="list-group-item">
			Segmentation of users in this node to homogenus groups
		</li>
		
	</ul>

</div>
