<div class="panel-heading">
	Persona Architype <%= params[:name]%>
</div>
<div class="panel-body">
	<ul class="list-group">
		<li class="list-group-item">
			Majority of similar users reside in NODE_NAME
		</li>
		<li class="list-group-item">
			Population devided beteween NODES

		</li>
		<li class="list-group-item">
			Closest Node Median to this Persona is NODE

		</li>
		<li class="list-group-item">
			

		</li>
	</ul>

</div>