<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
	circle {
		fill: rgb(31, 119, 180);
		fill-opacity: .25;
		stroke: rgb(31, 119, 180);
		stroke-width: 1px;
		font: 20px sans-serif;
	}

	.leaf circle {
		fill: #ff7f0e;
		fill-opacity: 0.8;
	}

	text {
		font: 30px sans-serif;
	}
	
	.leaf text {
		font: 10px sans-serif;
	}
</style>

<div class="graphGoesHere"></div>
<script>
	LoaderAnimation.show("Calculating");
	var diameter = 660, format = d3.format(",d");

	var pack = d3.layout.pack().size([diameter - 4, diameter - 4]).value(function(d) {
		return d.size;
	});

	var svg = d3.select(".graphGoesHere").append("svg").attr("width", diameter).attr("height", diameter).append("g").attr("transform", "translate(2,2)");

	d3.json("/cluster/get_node_clusters", function(error, root) {
		LoaderAnimation.hide();
		console.log("DATA",root);
		var node = svg.datum(root).selectAll(".node").data(pack.nodes).enter().append("g").attr("class", function(d) {
			return d.children ? "node" : "leaf node";
		}).attr("transform", function(d) {
			return "translate(" + d.x + "," + d.y + ")";
		});

		node.append("title").text(function(d) {
			return d.name + (d.size ? "" : ": " + format(d.size));
		});

		node.append("circle").attr("r", function(d) {
			return !d.children ? d.r*d.pc*2 : d.r;
		});
		
		

		node.filter(function(d) {
			return true;//!d.children;
		}).append("text").attr("dy", ".3em").style("text-anchor", "middle").text(function(d) {
			return d.name ;
		});
	});

	d3.select(self.frameElement).style("height", diameter + "px");

</script>